<!DOCTYPE html>
<html>

<head>
    <title>Add film</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="create_actor.css">
</head>


<body>
    <h1>Add film</h1>
    <form method="POST" action="/create">
        <label>Film name</label><br>
        <input name="film_name" class="field" /><br><br>
        <label>Film poster link</label><br>
        <input name="film_poster" class="field" /><br><br>
        <label>Film release date</label><br>
        <input name="film_release_date" class="field" /><br><br>
        <label>Film duration</label><br>
        <input name="film_duration" class="field" /><br><br>
        <label>Film producer</label><br>
        <input name="film_producer" class="field" /><br><br>
        <label>Film description</label><br>
        <input name="film_description" class="field" /><br><br>
        <label>Film trailer</label><br>
        <input name="film_trailer" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/">To film list</a>
</body>
<html>